@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --main:#0B9586;
    --second:#FFBB1C;
  }
  
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

a{
    color: #ffffff;
}

nav{
    background-color:var(--main);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 200px;
}
nav .navigation a{
    margin: 0 10px;
   font-size: 18px;
}
nav .call{
    text-align: right;
}
nav .call p:nth-child(2){
    letter-spacing: .94px;
    font-weight: 700;
}
nav .list i{
    font-size: 25px !important;
}

@media(width<1024px){
    .navigation{
        display: none;
    }
    nav{
        padding:10px 50px;
    }
    header{
        padding: 100px;
    }
    .Friendliest{
        padding: 100px 50px;
    }
}
@media(width>1024px){
    .list{
        display: none;
    }
}
header{
    background-image: url("./asset/solar-panels-meadow\ 1.png");
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 600px;
    padding:  100px 200px;
}
header .header{
    color: #ffffff;
}
header .header .bar{
    display: flex;
    gap: 20px;
    font-size: 18px;
    align-items: center;
    margin-bottom: 100px;
}
.w3-border{
    width: 240px;
    height: 5px;
    background: #575757;
    border: none !important;
}
.w3-grey{
    background-color: #ffffff !important;
    height: 100%;
    width:40%;
}

header .header h1{
    font-size: 52px;
    font-weight: 600;
}
header .header p{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    max-width: 700px;
}
header .header .buttons{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 30px 0;
    flex-wrap: wrap;
}
header .header .buttons button{
    height: 50px;
    padding: 0 30px;
    border-radius: 30px;
    border: none;
    word-spacing: 5px;
    font-weight: 400;
}
.callUs{
    background-color: var(--main);
    color: #ffffff;
}
.request{
    background-color: var(--second);
}
.Friendliest{
    padding: 100px 200px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
}
.Friendliest h1{
    font-weight: 600;
    font-size: 42px;
}
.Friendliest p{
    font-weight: 400;
    font-size: 16px;
}
.Friendliest .Friendliest-left h1,.Friendliest .Friendliest-left p{
    max-width: 550px;
}
