@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@font-face {
    font-family: 'Akazan Book';
    src: url('fonts/Akazan-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
:root {
    --main:#0B9586;
    --second:#FFBB1C;
    --headline:#101828;
  }
  
*{
    margin: 0;
    padding: 0 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}
body{
    overflow-x: hidden;
}

a{
    color: #ffffff;
}
.numeric{
        font-family: 'Akazan Book', sans-serif;
}
nav{
    background-color:var(--main);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 150px;
}
nav .navigation a{
    margin: 0 10px;
   font-size: 18px;
}
nav .call{
    text-align: right;
}
nav .call p:nth-child(2){
    letter-spacing: .94px;
    font-weight: 700;
}
nav .list i{
    font-size: 25px !important;
}

@media(width<1024px){
    .navigation{
        display: none;
    }
    nav{
        padding: 10px 30px ;
    }
    header{
        padding: 100px 30px !important;
    }
    .container{
        padding:50px 30px !important;
    }
    
    

}
@media(width>1024px){
    .list{
        display: none;
    }
}
header{
    background-image: url("./asset/solar-panels-meadow\ 1.png");
    background-size:cover;
    background-repeat: no-repeat;
}
header .header{
    color: #ffffff;
}
header .header .bar{
    display: flex;
    gap: 20px;
    font-size: 18px;
    align-items: center;
    margin-bottom: 100px;
}
.w3-border{
    width: 240px;
    height: 5px;
    background: #575757;
    border: none !important;
}
.w3-grey{
    background-color: #ffffff !important;
    height: 100%;
    width:40%;
}

header .header .text p:first-of-type{
    font-size: 52px;
    font-weight: 600;
}
header .header .text p:nth-of-type(2){
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    max-width: 700px;
}
header .header .text .buttons{
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}
button{
    height: 50px;
    width: auto;
    padding: 0 30px;
    border-radius: 30px;
    border: none;
    word-spacing: 5px;
    font-weight: 400;
}
.callUs{
    background-color: var(--main);
    color: #ffffff;
}
.request{
    background-color: var(--second);
}
.body{
    display: flex;
    flex-direction: column;
}
.container{
    padding:100px 150px;
}
.headline{
    font-weight: 600;
    font-size: 42px;
    margin-bottom: 30px;
}
.Friendliest{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Friendliest-left p:nth-of-type(2){
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    max-width: 600px;
    color: #475467;
}
.Friendliest-left .points{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Friendliest-left .points p{
    font-size: 20px;
    font-weight: 600;
    color:var(--headline);
    
}
.Friendliest-left .points p span{
    font-weight: 700;
    color:#84BD3A;
    letter-spacing: 4px;
}
.rectangle{
    width: 100%;
    height: auto;
    display: block;
}
.solar .Solar_Charging{
    background: var(--second);
    max-width: 280px;
    padding: 15px;
    border-radius: 20px;
    position: relative;
    bottom: 210px;
    right: 35px;
}
.solar .Solar_Charging img{
    width: 100px;
    margin-bottom: 25px;
}
.power{
    background-image: url(./asset/8116\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    display: flex;
    align-items: center;
}
.power .container p:nth-of-type(2){
    font-size: 20px;
    font-weight: 500;
    max-width: 620px;
}
.power button{
    background-color: var(--second);
    margin: 20px 0;
}